utils/__pycache__/
__pycache__/
SAC_2.pdf
SAC.pdf
.vscode/
hydra_outputs/
outputs/
sac_agent/results/
affordance_model/predictions/
project_unproject.py
affordance_model/hough_voting/build/
affordance_model/hough_voting/hough_voting.egg-info/
affordance_model/hough_voting/dist/
affordance_model/hough_voting/error.txt
analysis/figures/
analysis/results_csv/
results/figures/
results/figures/Dense + affordance mask.png
scripts/find_label_clusters_directions.py
scripts/motion_vectors.json
setup.py
tmp/