__pycache__/
.vscode/
hydra_outputs/
outputs/
vapo/sac_agent/results/
vapo/affordance_model/predictions/
vapo/affordance_model/hough_voting/build/
vapo/affordance_model/hough_voting/hough_voting.egg-info/
vapo/affordance_model/hough_voting/dist/
vapo/affordance_model/hough_voting/error.txt
vapo/analysis/figures/
vapo/analysis/results_csv/
vapo/dataset_creation/motion_vectors.json
vapo/affordance_model/inference/*
tmp/
dataset_creation/__init__.py
dataset_creation/motion_vectors.json
workspace.code-workspace
project.egg-info
vapo.egg-info/
hough_voting.egg-info/
build/
.idea/
config/robot_io/cams/static_cam/kinect4_jessica_1.yaml
wandb/
analysis/figures
analysis/flow.png
analysis/flow.pdf
